body {
        background-image: url(images/splash.jpg);
        width: 100%;
        height: auto;
}

.img{
	
}
	#header{

		text-align: center;
		width:100%;
		color: yellow;
		/*background-color: black;*/
		/*background-color: pink; */
        /*background-image: url(images/spagati.jpg); */
        /*opacity: 0.5;*/
		text-align: center;
		font-size: 1.5em;

}

p{
	clear:right;
    padding-right:20px ;
    padding-left: 20px ;
    padding-bottom:20px;
    padding-top: 20px; 
}


.sec1 {
  background-color: rgba(255,0,0,0.6);
 

}

  
.sec2 {
   background-color: rgb(77,255,255);
 
  
}
.sec3 {
  background-color: rgb(219,112,219);

}

span{
border:0px;
padding:0px;

}
.span1{

border:1px solid black;
overflow: auto;
float: right;
width: 100px;
text-align: center;
/*right:0px;*/
/*width:100px;*/
/*height: 25px;*/
padding: 0px;
/*top:0px;*/
/*display: inline-block;*/


}

h3 {
margin-bottom: 50px;
background-color: #785;
border-style: separate;
position: relative;
/*clear:both;*/
display: inline;
width:100%;


}



*{

box-sizing: border-box;

}

/*large devices*/

@media screen and (min-width: 992px){ 

.col-lg{

 	width:31% ;
	border:1px solid black;
	margin-top: 0%;
	margin-right: 1%;
	margin-left: 1%;
	overflow: auto;
	padding: 0%;
	text-align: justify;
	float: left;
}

}

 .row {
/*width: 100%;*/
margin-left: 1%;
margin-right: 2%
width:96%;

 }
	
	/*Medium Devices */
	@media screen and (min-width: 768px) and (max-width: 991px){
	
	.col-md-1{
	
    width:47% ;
	border:1px solid black;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	overflow: auto;
	padding: 0%;
	text-align: justify;
	float:left;

  }

.col-md-2{
	
    width:47% ;
	border:1px solid black;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
	overflow: auto;
	padding: 0%;
	text-align: justify;
	float:left;

  }
  .col-md-100{
	
    width:96% ;
	border:1px solid black;

	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
	overflow: auto;
	padding: 0%;
	text-align: justify;
    
  }
}


/*Small Devices */
@media  (max-width: 767px) {
	.col-sm{
    width:80% ;
	border:1px solid black;
	margin-top: 0%;
	margin-bottom: 2%;
	overflow: auto;
	padding-right:0%;
	padding-left: 0%;
	padding: 0%;
	text-align: justify;
	margin-right: 9%;
	margin-left: 9%;
    float: none;
  }
}



	





